.genreNew {
    flex: 4;
}

.addGenreForm {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .addGenreItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
  }
    
  .addGenreItem > label {
    color: gray;
    font-weight: 600;
    margin-bottom: 10px;
  }
    
  .addGenreItem > input {
    padding: 10px;
  }

  .addGenreButton {
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
  }